@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(/www/fonts/gotham-pro/gotham-pro-light.woff2) format("woff2");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/www/fonts/gotham-pro/gotham-pro-regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(/www/fonts/gotham-pro/gotham-pro-medium.woff2) format("woff2");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url(/www/fonts/gotham-pro/gotham-pro-bold.woff2) format("woff2");
}

@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/www/fonts/gotham-pro/gotham-pro-black.woff2) format("woff2");
}

.container {
  max-width: 1180px;
}

.main-container {
  max-width: 850px;
  width: 850px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1360px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  color: #181818;
  background-color: #f7f9fb;
}

a {
  color: #181818;
  text-decoration: none;
}

input {
  font-family: "Gotham Pro", sans-serif;
}

.header {
  background-color: #fff;
}

@media screen and (max-width: 1360px) {
  .header {
    padding: 0 0.5rem;
  }
}

.header .container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 1360px) {
  .header .container-big {
    max-width: 100%;
    padding: 0 1rem;
  }
}

@media screen and (max-width: 576px) {
  .header .container-big {
    padding: 0;
    margin: 0 auto;
  }
}

.header .nav-logo {
  padding-right: 40px;
}

.header .nav-logo a {
  width: 2.875rem;
  height: 2.87rem;
  display: block;
}

.header .nav-logo a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1360px) {
  .header .nav-logo {
    padding-right: 1rem;
  }
  .header .nav-logo a {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header .nav-logo a {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .header .nav-logo {
    display: none;
  }
}

.header .container {
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .header .container {
    margin: 0;
  }
}

.header .header-navs {
  border-left: 1px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header .header-navs .nav {
  padding: 0 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #f4f4f4;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail {
  position: relative;
  display: inline-block;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  min-width: 5.625rem;
}

@media screen and (max-width: 1360px) {
  .header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary {
    min-width: 4.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary {
    min-width: 4.2rem;
  }
}

@media screen and (max-width: 576px) {
  .header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary {
    min-width: 3.5rem;
  }
  .header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .title {
    font-size: 0.7rem;
  }
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary::-webkit-details-marker {
  display: none;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 6px 0;
}

@media screen and (max-width: 1360px) {
  .header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head {
    padding: 0;
  }
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head .svg-item {
  width: 1.5rem;
  display: block;
  padding-top: 11px;
  padding-bottom: 4px;
  position: relative;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head .svg-item .notif {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(215.49deg, #ffb75e 5.4%, #ed8f03 93.45%);
  border-radius: 50%;
  top: 8px;
  right: -5px;
  padding: 4px 6px;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head .svg-item .notif span {
  font-size: 0.56rem;
  color: #fff;
  line-height: 1;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head .svg-item svg {
  display: block;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .link-head .svg-item svg path {
  stroke: #181818 !important;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-summary .title {
  color: #181818;
  padding-bottom: 11px;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail[open] > .item-summary .link-head .svg-item svg path {
  stroke: #0275b1 !important;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail[open] > .item-summary .link-head .title {
  color: #0275b1;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail[open] > .item-summary::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  cursor: default;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail[open] > .item-summary::after {
  content: "";
  position: absolute;
  background-color: #0275b1;
  width: calc(100% - 24px);
  height: 2px;
  z-index: 3;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0px;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-body {
  background-color: #fff;
  position: absolute;
  z-index: 2;
  margin-top: 2px;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
  padding-bottom: 12px;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-body .item-container {
  padding: 0 18px 0 8px;
  min-width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-body .item-container::after {
  content: "";
  background-color: #ebebeb;
  width: 100%;
  height: 1px;
  display: block;
}

.header .header-navs .nav.nav-menu .nav-menu-item .item-detail .item-body .item-container .item {
  display: inline-block;
  padding: 13px 0;
  padding-left: 28px;
  font-weight: 500;
}

.header .header-navs .nav.last-nav {
  padding: 0;
}

.header .header-navs .header-search {
  border-right: 1px solid #f4f4f4;
  padding: 0 1.7rem;
  width: 23rem;
}

@media screen and (max-width: 1360px) {
  .header .header-navs .header-search {
    width: 16rem;
  }
}

@media screen and (max-width: 1024px) {
  .header .header-navs .header-search {
    width: 14rem;
  }
}

@media screen and (max-width: 768px) {
  .header .header-navs .header-search {
    display: none;
  }
}

.header .header-navs .header-search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .header-navs .header-search label .svg-item svg {
  display: block;
}

.header .header-navs .header-search label input {
  border: 0;
  outline: 0;
  margin-left: 1rem;
  padding: 5px 5px;
  font-size: 1rem;
  max-width: calc(100% - 1rem);
}

.header .header-navs .header-search label input::-webkit-input-placeholder {
  color: #cecece;
}

.header .header-navs .header-search label input:-ms-input-placeholder {
  color: #cecece;
}

.header .header-navs .header-search label input::-ms-input-placeholder {
  color: #cecece;
}

.header .header-navs .header-search label input::placeholder {
  color: #cecece;
}

.header .header-navs .header-profile {
  padding: 0 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
}

@media screen and (max-width: 1360px) {
  .header .header-navs .header-profile {
    width: 16rem;
  }
}

@media screen and (max-width: 1024px) {
  .header .header-navs .header-profile {
    width: 6rem;
  }
  .header .header-navs .header-profile .profile-info {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header .header-navs .header-profile {
    display: none;
  }
}

.header .header-navs .header-profile .photo {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  overflow: hidden;
}

.header .header-navs .header-profile .photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.header .header-navs .header-profile .profile-info {
  margin-left: 1rem;
}

.header .header-navs .header-profile .profile-info .name {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
}

.header .header-navs .header-profile .profile-info .name span {
  color: #d1d1d1;
  font-weight: 300;
  margin-left: 0.5rem;
}

.header .header-navs .header-profile .profile-info .fast-info {
  font-size: 0.75rem;
  line-height: 1;
  color: #747474;
  font-weight: 400;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-navs .header-profile .profile-info .fast-info span {
  color: #02b033;
  font-weight: 600;
  margin-left: 0.5rem;
}

.header .header-navs .header-profile .profile-info .fast-info .svg-item {
  display: inline-block;
}

@media screen and (max-width: 576px) {
  .header .header-navs {
    border: 0;
  }
  .header .header-navs .nav {
    padding: 0;
    border: 0;
  }
}

.footer {
  background-color: #f7f9fb;
  border-top: 1px solid #e7e7e7;
  margin-top: 2.5rem;
  padding-bottom: 3.2rem;
}

.footer .container {
  margin: 0 auto;
  padding-top: 2.12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .footer-item {
  padding: 0 1.875rem;
}

.footer .container .footer-item:first-child {
  padding-left: 0;
}

.footer .container .footer-item:last-child {
  padding-right: 0;
}

.footer .container .footer-item.logo-area .logo img {
  display: block;
}

.footer .container .footer-item.logo-area .logotype {
  font-weight: 600;
  font-size: 0.875rem;
  margin-top: 0.6rem;
}

.footer .container .footer-item.logo-area .logotype .logotype-primary {
  color: #0275b1;
}

.footer .container .footer-item .title {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 1.625rem;
}

.footer .container .footer-item .navigation .nav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .footer-item .navigation .nav-menus .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4.8rem;
}

.footer .container .footer-item .navigation .nav-menus .nav-menu:last-child {
  margin-right: 0;
}

.footer .container .footer-item .navigation .nav-menus .nav-menu a {
  font-size: 0.76rem;
  line-height: 1;
}

.footer .container .footer-item .navigation .nav-menus .nav-menu a:not(:first-child) {
  margin-top: 1rem;
}

.footer .container .footer-item .access-buttons .access-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.625rem 1rem;
  line-height: 1;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  min-width: 10rem;
}

.footer .container .footer-item .access-buttons .access-button:first-child {
  background-color: #0275b1;
  color: #fff;
}

.footer .container .footer-item .access-buttons .access-button:last-child {
  margin-top: 0.625rem;
  border: 1px solid #0275b1;
  color: #0275b1;
}

.footer .container .footer-item .access-buttons .access-button .svg-item svg {
  display: block;
}

.footer .container .footer-item .footer-lang-det {
  position: relative;
  font-size: 0.85rem;
  line-height: 1;
  font-weight: 500;
}

.footer .container .footer-item .footer-lang-det .footer-lang-sum {
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.45rem 1rem 0.45rem 1rem;
  border: 1px solid #f0f0f0;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .footer-item .footer-lang-det .footer-lang-sum::-webkit-details-marker {
  display: none;
}

.footer .container .footer-item .footer-lang-det .footer-lang-sum .svg-item svg {
  display: block;
}

.footer .container .footer-item .footer-lang-det[open] > .footer-lang-sum::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  cursor: default;
}

.footer .container .footer-item .footer-lang-det .lang-items {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1px;
}

.footer .container .footer-item .footer-lang-det .lang-items .lang-item {
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.45rem 1rem 0.45rem 1rem;
  border: 1px solid #f0f0f0;
  min-width: 250px;
  margin-top: 1px;
}

.footer .container .footer-item .footer-lang-det .lang-items .lang-item:hover {
  background-color: #0275b1;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 1rem;
    padding-bottom: 3.2rem;
  }
  .footer .container .footer-item {
    padding: 0 1rem;
  }
  .footer .container .footer-item .navigation .nav-menus .nav-menu {
    margin-right: 0.7rem;
  }
  .footer .container .footer-item .footer-lang-det .footer-lang-sum {
    min-width: 150px;
  }
  .footer .container .footer-item .footer-lang-det .lang-items .lang-item {
    min-width: 150px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 768px) {
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 0;
  }
  .footer .container .nav-menu {
    margin-right: 2.7rem;
  }
  .footer .container .footer-item {
    margin-top: 3rem;
  }
  .footer .container .footer-item:first-child {
    padding: 0 1rem;
  }
}

.page-profile {
  margin-top: 2.5rem;
}

@media screen and (max-width: 576px) {
  .page-profile {
    margin-top: 1.5rem;
  }
}

.page-profile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1360px) {
  .page-profile .container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1360px) {
  .page-profile .container .content {
    max-width: calc(100% - 19rem);
  }
  .page-profile .container .content .main-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .page-profile .container .content {
    max-width: 100%;
  }
  .page-profile .container .content .main-container {
    width: 100%;
  }
}

.page-profile .container .content .main-container .profile-head {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.page-profile .container .content .main-container .profile-head .image {
  width: 100%;
  height: 11.25rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/www/img/profile/profile-background.jpg");
  padding: 1.87rem 1.25rem;
}

.page-profile .container .content .main-container .profile-head .image .head-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-profile .container .content .main-container .profile-head .image .head-items .upload {
  display: inline-block;
  cursor: pointer;
}

.page-profile .container .content .main-container .profile-head .image .head-items .upload .svg-item {
  background-color: #fff;
  padding: 0.56rem;
  border-radius: 4px;
}

.page-profile .container .content .main-container .profile-head .image .head-items .upload .svg-item svg {
  display: block;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.58rem 0.687rem;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 0.687rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .edit .svg-item {
  margin-right: 0.687rem;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .edit .svg-item svg {
  display: block;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .more {
  cursor: pointer;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .more .svg-item {
  background-color: #fff;
  border-radius: 4px;
  padding: 6px;
}

.page-profile .container .content .main-container .profile-head .image .head-items .head-items-right .more .svg-item svg {
  display: block;
}

.page-profile .container .content .main-container .profile-head .info {
  width: 100%;
  height: 11.5rem;
  padding: 0 1.56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-profile .container .content .main-container .profile-head .info .pp .profile-photo {
  position: relative;
  top: -25px;
  border: 10px solid #fff;
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  overflow: hidden;
}

.page-profile .container .content .main-container .profile-head .info .pp .profile-photo img {
  display: block;
  width: 100%;
  height: 100%;
}

.page-profile .container .content .main-container .profile-head .info .profile-info {
  margin-top: 1.56rem;
  margin-left: 1.56rem;
  width: 100%;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .title {
  font-weight: 600;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .title .svg-item {
  margin-left: 0.5rem;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .location .svg-item {
  margin-right: 0.5rem;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .location .svg-item svg {
  display: block;
}

.page-profile .container .content .main-container .profile-head .info .profile-info .info-top .location p {
  line-height: 1;
  font-size: 0.75rem;
}

.page-profile .container .content .main-container .profile-head .info .profile-summary {
  font-size: 0.875rem;
  margin-top: 0.8rem;
}

.page-profile .container .content .main-container .profile-head .info .buttons {
  margin-top: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-profile .container .content .main-container .profile-head .info .buttons .button {
  font-size: 0.75rem;
  border-radius: 4px;
  font-weight: 500;
}

.page-profile .container .content .main-container .profile-head .info .buttons .button-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#0077b5), to(#0e6795));
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  color: #fff;
  margin-right: 0.95rem;
  padding: 0.4rem 2.25rem;
}

@media screen and (max-width: 576px) {
  .page-profile .container .content .main-container .profile-head .info .buttons .button-1 {
    padding: 0.4rem 1.05rem;
  }
}

.page-profile .container .content .main-container .profile-head .info .buttons .button-2 {
  border: 1px solid #0275b1;
  color: #0275b1;
  padding: 0.4rem 1rem;
}

@media screen and (max-width: 576px) {
  .page-profile .container .content .main-container .profile-head .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0.7rem;
    padding-bottom: 1.5rem;
  }
  .page-profile .container .content .main-container .profile-head .info .pp .profile-photo {
    width: 7rem;
    height: 7rem;
  }
  .page-profile .container .content .main-container .profile-head .info .profile-info {
    margin: 0;
  }
  .page-profile .container .content .main-container .profile-head .info .profile-info .info-top .title {
    margin-right: 1rem;
  }
}

.page-profile .container .content .main-container .profile-tabs {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 1.37rem;
}

.page-profile .container .content .main-container .profile-tabs .profile-tabs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page-profile .container .content .main-container .profile-tabs .profile-tabs-menu .menu-item {
  background-color: #fff;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0.81rem 3rem;
  font-weight: 500;
  display: inline-block;
  line-height: 1;
  font-size: 0.75rem;
  cursor: pointer;
  border: 1px solid #e7e7e7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.page-profile .container .content .main-container .profile-tabs .profile-tabs-menu .menu-item.is-active {
  padding: 1.1rem 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#0077b5), to(#0e6795));
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  color: #fff;
  border: 1px solid #0275b1;
}

@media screen and (max-width: 576px) {
  .page-profile .container .content .main-container .profile-tabs .profile-tabs-menu .menu-item,
  .page-profile .container .content .main-container .profile-tabs .profile-tabs-menu .menu-item.is-active {
    padding: 0.71rem 0.45rem;
  }
}

.page-profile .container .content .main-container .profile-tab-items {
  margin-top: 1.87rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item {
  display: none;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.87rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item:not(:first-child) {
  margin-top: 1.25rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item .item-title {
  font-weight: 600;
  font-size: 1.12rem;
  margin-bottom: 1rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item .item-link {
  color: #0275b1;
  font-weight: 500;
  font-size: 0.75rem;
  display: inline-block;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.about .about-text {
  font-size: 0.87rem;
  margin-bottom: 1rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .item-title .slide-info {
  font-weight: 400;
  color: #747474;
  margin-left: 0.87rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper {
  position: relative;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .swiper-container {
  margin-bottom: 1.1rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .swiper-container .swiper-wrapper .swiper-slide .slide-container .project-img {
  height: 10rem;
  overflow: hidden;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .swiper-container .swiper-wrapper .swiper-slide .slide-container .project-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .swiper-container .swiper-wrapper .swiper-slide .slide-container .project-title {
  font-weight: 600;
  margin-top: 1rem;
  font-size: 0.97rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .swiper-container .swiper-wrapper .swiper-slide .slide-container .project-desc {
  font-weight: 300;
  font-size: 0.87rem;
  margin-top: 0.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .button-swipers {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 4.6rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .button-swipers svg {
  display: block;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .button-swipers.button-prev {
  left: -1.25rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.projects .profile-swiper .button-swipers.button-next {
  right: -1.25rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item {
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  padding: 0.9rem;
  width: calc(100% / 3 - 0.8rem);
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item:not(:last-child) {
  margin-right: 1.25rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-top {
  font-weight: 600;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-top .skill-count {
  color: #0275b1;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons {
  margin-top: 0.687rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person {
  border-radius: 50%;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person:nth-child(2) {
  -webkit-transform: translateX(calc(-100% + 1.8rem / 2));
          transform: translateX(calc(-100% + 1.8rem / 2));
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person:nth-child(3) {
  -webkit-transform: translateX(calc(-100% + 0.85rem / 2));
          transform: translateX(calc(-100% + 0.85rem / 2));
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person:nth-child(4) {
  -webkit-transform: translateX(calc(-100% + -0.25rem / 2));
          transform: translateX(calc(-100% + -0.25rem / 2));
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person:nth-child(5) {
  -webkit-transform: translateX(calc(-100% + -1.25rem / 2));
          transform: translateX(calc(-100% + -1.25rem / 2));
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person:nth-child(6) {
  -webkit-transform: translateX(calc(-100% + -2.25rem / 2));
          transform: translateX(calc(-100% + -2.25rem / 2));
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item .skill-persons .skill-person.last {
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#0077b5), to(#0e6795));
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.625rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item,
  .page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.skills .skills-items .skill-item:not(:last-child) {
    margin: 0;
    width: 100%;
    margin-top: 1rem;
  }
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.56rem;
  padding-top: 1.56rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item:not(:last-child) {
  border-bottom: 1px solid #f4f4f4;
  padding-top: 0;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .photo {
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .photo img {
  width: 3.375rem;
  height: 3.375rem;
  overflow: hidden;
  display: block;
  border-radius: 50%;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.85rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .location {
  margin-bottom: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .location .location-info {
  font-weight: 400;
  margin-left: 0.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .date {
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .date .date-count {
  font-weight: 500;
  margin-left: 0.5rem;
  color: #0275b1;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.experience .experience-item .info .desc {
  font-size: 0.75rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.56rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item:not(:last-child) {
  border-bottom: 1px solid #f4f4f4;
  padding-top: 0;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .photo {
  margin-right: 1rem;
  padding-top: 0.5rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .photo img {
  width: 3.375rem;
  height: 3.375rem;
  overflow: hidden;
  display: block;
  border-radius: 50%;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .info .title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.85rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .info .sub-title {
  font-size: 0.75rem;
  margin-bottom: 0.375rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .info .date {
  margin-bottom: 0.7rem;
  font-size: 0.75rem;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .info .date .date-count {
  font-weight: 500;
  margin-left: 0.5rem;
  color: #0275b1;
}

.page-profile .container .content .main-container .profile-tab-items .profile-tab-item .item.education .education-item .info .desc {
  font-size: 0.75rem;
}

.page-profile .container .aside {
  max-width: 18.125rem;
}

@media screen and (max-width: 1024px) {
  .page-profile .container .aside {
    display: none;
  }
}

.page-profile .container .aside .aside-item {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.5rem 1.875rem;
}

.page-profile .container .aside .aside-item:not(:first-child) {
  margin-top: 1.25rem;
}

.page-profile .container .aside .aside-item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.page-profile .container .aside .aside-item .top .link {
  color: #0275b1;
}

.page-profile .container .aside .aside-item .top .link:hover {
  border-bottom: 1px solid #0275b1;
}

.page-profile .container .aside .aside-item .body {
  border-top: 1px solid #f4f4f4;
  padding-top: 0.9rem;
}

.page-profile .container .aside .aside-item .body .dashboard-view:not(:first-child) {
  margin-top: 1.4rem;
}

.page-profile .container .aside .aside-item .body .dashboard-view .title {
  color: #0275b1;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1;
}

.page-profile .container .aside .aside-item .body .dashboard-view .subtitle {
  font-size: 0.875rem;
}

.page-profile .container .aside .aside-item .body .visitor-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-profile .container .aside .aside-item .body .visitor-body:not(:first-child) {
  margin-top: 0.95rem;
}

.page-profile .container .aside .aside-item .body .visitor-body .photo {
  margin-right: 0.625rem;
}

.page-profile .container .aside .aside-item .body .visitor-body .photo img {
  display: block;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  overflow: hidden;
}

.page-profile .container .aside .aside-item .body .visitor-body .info .title {
  font-weight: 600;
  font-size: 0.875rem;
}

.page-profile .container .aside .aside-item .body .visitor-body .info .sub-title {
  font-size: 0.725rem;
}

.page-profile .container .aside .aside-item .body .course-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.187rem;
}

.page-profile .container .aside .aside-item .body .course-body .photo {
  margin-right: 1rem;
}

.page-profile .container .aside .aside-item .body .course-body .photo img {
  border-radius: 4px;
  width: 80px;
  height: 52px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-profile .container .aside .aside-item .body .course-body .info .title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1;
}

.page-profile .container .aside .aside-item .body .course-body .info .desc {
  font-size: 0.7rem;
  margin-top: 0.4rem;
}
/*# sourceMappingURL=main.css.map */