// Reset CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Gotham Pro", sans-serif;
  font-weight: $weight-regular;
  color: $color-secondary;
  background-color: $color-background;
}

a {
  color: $color-secondary;
  text-decoration: none;
}

input {
  font-family: "Gotham Pro", sans-serif;
}

// Header
.header {
  background-color: $color-white;
  .container-big {
    display: flex;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
  }

  .nav-logo {
    padding-right: 40px;
  }

  .container {
    margin: 0 auto;
  }

  .header-navs {
    border-left: 1px solid #f4f4f4;
    display: flex;
    align-items: stretch;
    .nav {
      padding: 0 0.9rem;
      display: flex;
      border-right: 1px solid #f4f4f4;

      &.nav-menu {
        .nav-menu-item {
          .item-detail {
            position: relative;
            display: inline-block;

            .item-summary {
              list-style: none;
              user-select: none;
              cursor: pointer;
              min-width: 90px;

              &::-webkit-details-marker {
                display: none;
              }

              .link-head {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.75rem;
                font-weight: $weight-bold;
                padding: 6px 0;

                .svg-item {
                  width: 1.5rem;
                  display: block;
                  padding-top: 11px;
                  padding-bottom: 4px;
                  position: relative;

                  .notif {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(215.49deg, #ffb75e 5.4%, #ed8f03 93.45%);
                    border-radius: 50%;
                    top: 8px;
                    right: -5px;
                    padding: 4px 6px;

                    span {
                      font-size: 0.56rem;
                      color: $color-white;
                      line-height: 1;
                    }
                  }

                  svg {
                    display: block;
                    path {
                      stroke: $color-secondary !important;
                    }
                  }
                }
              }

              .title {
                color: $color-secondary;
                padding-bottom: 11px;
              }
            }

            &[open] > .item-summary .link-head .svg-item svg path {
              stroke: $color-primary !important;
            }

            &[open] > .item-summary .link-head .title {
              color: $color-primary;
            }

            &[open] > .item-summary::before {
              content: "";
              position: fixed;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              z-index: 1;
              display: block;
              cursor: default;
            }

            &[open] > .item-summary::after {
              content: "";
              position: absolute;
              background-color: $color-primary;
              width: calc(100% - 24px);
              height: 2px;
              z-index: 3;
              right: 50%;
              transform: translateX(50%);
              bottom: 0px;
            }

            .item-body {
              background-color: $color-white;
              position: absolute;
              z-index: 2;
              margin-top: 2px;
              transform: translateX(-14px);
              padding-bottom: 12px;

              .item-container {
                padding: 0 18px 0 8px;
                min-width: 370px;
                display: flex;
                flex-direction: column;

                &::after {
                  content: "";
                  background-color: #ebebeb;
                  width: 100%;
                  height: 1px;
                  display: block;
                }

                .item {
                  display: inline-block;
                  padding: 13px 0;
                  padding-left: 28px;
                  font-weight: $weight-medium;
                }
              }
            }
          }
        }
      }

      &.last-nav {
        padding: 0;
      }
    }

    .header-search {
      border-right: 1px solid #f4f4f4;
      padding: 0 1.7rem;
      width: 370px;
      label {
        display: flex;
        align-items: center;
        height: 100%;
        .svg-item {
          svg {
            display: block;
          }
        }
        input {
          border: 0;
          outline: 0;
          margin-left: 15px;
          padding: 5px 5px;
          font-size: 1rem;

          &::placeholder {
            color: #cecece;
          }
        }
      }
    }

    .header-profile {
      padding: 0 1.7rem;
      display: flex;
      align-items: center;
      width: 330px;

      .photo {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .profile-info {
        margin-left: 1rem;

        .name {
          font-size: 0.75rem;
          font-weight: $weight-bold;
          line-height: 1;
          span {
            color: #d1d1d1;
            font-weight: $weight-light;
            margin-left: 0.5rem;
          }
        }

        .fast-info {
          font-size: 0.75rem;
          line-height: 1;
          color: $color-gray;
          font-weight: $weight-regular;
          margin-top: 8px;
          display: flex;

          span {
            color: #02b033;
            font-weight: $weight-bold;
            margin-left: 0.5rem;
          }

          .svg-item {
            display: inline-block;
          }
        }
      }
    }
  }
}

// Footer

.footer {
  background-color: #f7f9fb;
  border-top: 1px solid #e7e7e7;
  margin-top: 2.5rem;

  .container {
    margin: 0 auto;
    padding-top: 2.12rem;
    display: flex;

    .footer-item {
      padding: 0 1.875rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
      &.logo-area {
        .logo {
          img {
            display: block;
          }
        }
        .logotype {
          font-weight: $weight-bold;
          font-weight: 0.875rem;
          .logotype-primary {
            color: $color-primary;
          }
        }
      }

      .title {
        font-size: 0.85rem;
        font-weight: $weight-bold;
        margin-bottom: 1.625rem;
      }

      .navigation {
        .nav-menus {
          display: flex;
          justify-content: space-between;
          .nav-menu {
            display: flex;
            flex-direction: column;
            margin-right: 4.8rem;

            &:last-child {
              margin-right: 0;
            }

            a {
              font-size: 0.76rem;
              line-height: 1;

              &:not(:first-child) {
                margin-top: 1rem;
              }
            }
          }
        }
      }

      .access-buttons {
        .access-button {
          display: flex;
          justify-content: space-between;
          padding: 0.625rem 1rem;
          line-height: 1;
          font-weight: $weight-medium;
          font-size: 0.75rem;
          border-radius: $radius-default;
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: 10rem;

          &:first-child {
            background-color: $color-primary;
            color: $color-white;
          }

          &:last-child {
            margin-top: 0.625rem;
            border: 1px solid $color-primary;
            color: $color-primary;
          }
          .svg-item {
            svg {
              display: block;
            }
          }
        }
      }

      .footer-lang-det {
        position: relative;
        font-size: 0.85rem;
        line-height: 1;
        font-weight: $weight-medium;

        .footer-lang-sum {
          list-style: none;
          user-select: none;
          cursor: pointer;
          z-index: 2;
          background-color: $color-white;
          border-radius: $radius-default;
          padding: 0.45rem 1rem 0.45rem 1rem;
          border: 1px solid #f0f0f0;
          min-width: 250px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::-webkit-details-marker {
            display: none;
          }

          .svg-item {
            svg {
              display: block;
            }
          }
        }

        &[open] > .footer-lang-sum::before {
          content: "";
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          display: block;
          cursor: default;
        }

        .lang-items {
          position: absolute;
          z-index: 5;
          display: flex;
          flex-direction: column;
          margin-top: 1px;

          .lang-item {
            cursor: pointer;
            background-color: $color-white;
            border-radius: $radius-default;
            padding: 0.45rem 1rem 0.45rem 1rem;
            border: 1px solid #f0f0f0;
            min-width: 250px;
            margin-top: 1px;

            &:hover {
              background-color: $color-primary;
              color: $color-white;
            }
          }
        }
      }
    }
  }
}
