// Profile

.page-profile {
  margin-top: 2.5rem;
  .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    .content {
      .main-container {
        .profile-head {
          background-color: $color-white;
          border-bottom-left-radius: $radius-default;
          border-bottom-right-radius: $radius-default;
          overflow: hidden;
          .image {
            width: 100%;
            height: 11.25rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("/www/img/profile/profile-background.jpg");
            padding: 1.87rem 1.25rem;

            .head-items {
              display: flex;
              justify-content: space-between;
              .upload {
                display: inline-block;
                cursor: pointer;
                .svg-item {
                  background-color: $color-white;
                  padding: 0.56rem;
                  border-radius: $radius-default;

                  svg {
                    display: block;
                  }
                }
              }

              .head-items-right {
                display: flex;
                align-items: center;
                font-size: 0.75rem;

                .edit {
                  display: flex;
                  align-items: center;
                  padding: 0.58rem 0.687rem;
                  background-color: $color-white;
                  border-radius: $radius-default;
                  margin-right: 0.687rem;
                  cursor: pointer;
                  user-select: none;
                  .svg-item {
                    margin-right: 0.687rem;
                    svg {
                      display: block;
                    }
                  }
                }

                .more {
                  cursor: pointer;
                  .svg-item {
                    background-color: $color-white;
                    border-radius: $radius-default;
                    padding: 6px;
                    svg {
                      display: block;
                    }
                  }
                }
              }
            }
          }
          .info {
            width: 100%;
            height: 11.5rem;
            padding: 0 1.56rem;
            display: flex;
            justify-content: space-between;

            .pp {
              .profile-photo {
                position: relative;
                top: -25px;
                border: 10px solid $color-white;
                border-radius: 50%;
                width: 11rem;
                height: 11rem;
                overflow: hidden;

                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                }
              }
            }

            .profile-info {
              margin-top: 1.56rem;
              margin-left: 1.56rem;
              width: 100%;
              .info-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .title {
                  font-weight: $weight-bold;
                  font-size: 1.1rem;
                  display: flex;
                  align-items: center;
                  line-height: 1;

                  .svg-item {
                    margin-left: 0.5rem;
                  }
                }

                .location {
                  display: flex;
                  .svg-item {
                    margin-right: 0.5rem;

                    svg {
                      display: block;
                    }
                  }
                  p {
                    line-height: 1;
                    font-size: 0.75rem;
                  }
                }
              }
            }

            .profile-summary {
              font-size: 0.875rem;
              margin-top: 0.8rem;
            }

            .buttons {
              margin-top: 1.1rem;
              display: flex;
              .button {
                font-size: 0.75rem;
                border-radius: $radius-default;
                font-weight: $weight-medium;
              }

              .button-1 {
                background: $color-primary-linear;
                color: $color-white;
                margin-right: 0.95rem;
                padding: 0.4rem 2.25rem;
              }
              .button-2 {
                border: 1px solid $color-primary;
                color: $color-primary;
                padding: 0.4rem 1rem;
              }
            }
          }
        }

        .profile-tabs {
          width: 100%;
          border-bottom: 1px solid #e7e7e7;
          margin-top: 1.37rem;
          .profile-tabs-menu {
            display: flex;
            align-items: flex-end;
            .menu-item {
              background-color: $color-white;
              border: none;
              outline: 0;
              box-shadow: none;
              padding: 0.81rem 3rem;
              font-weight: $weight-medium;
              display: inline-block;
              line-height: 1;
              font-size: 0.75rem;
              cursor: pointer;
              border: 1px solid #e7e7e7;
              border-top-left-radius: $radius-default;
              border-top-right-radius: $radius-default;

              &.is-active {
                padding: 1.1rem 5rem;
                background: $color-primary-linear;
                color: $color-white;
                border: 1px solid $color-primary;
              }
            }
          }
        }

        .profile-tab-items {
          margin-top: 1.87rem;
          .profile-tab-item {
            display: none;

            &.is-active {
              display: flex;
              flex-direction: column;
            }

            .item {
              background-color: $color-white;
              border-radius: $radius-default;
              padding: 1.87rem;
              &:not(:first-child) {
                margin-top: 1.25rem;
              }

              .item-title {
                font-weight: $weight-bold;
                font-size: 1.12rem;
                margin-bottom: 1rem;
              }

              .item-link {
                color: $color-primary;
                font-weight: $weight-medium;
                font-size: 0.75rem;
                display: inline-block;
              }

              &.about {
                .about-text {
                  font-size: 0.87rem;
                  margin-bottom: 1rem;
                }
              }

              &.projects {
                .item-title {
                  .slide-info {
                    font-weight: $weight-regular;
                    color: $color-gray;
                    margin-left: 0.87rem;
                  }
                }

                .profile-swiper {
                  position: relative;
                  .swiper-container {
                    margin-bottom: 1.1rem;

                    .swiper-wrapper {
                      .swiper-slide {
                        .slide-container {
                          .project-img {
                            height: 10rem;
                            overflow: hidden;
                            img {
                              display: block;
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                            }
                          }

                          .project-title {
                            font-weight: $weight-bold;
                            margin-top: 1rem;
                            font-size: 0.97rem;
                          }

                          .project-desc {
                            font-weight: $weight-light;
                            font-size: 0.87rem;
                            margin-top: 0.5rem;
                          }
                        }
                      }
                    }
                  }

                  .button-swipers {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                    top: 4.6rem;

                    svg {
                      display: block;
                    }

                    &.button-prev {
                      left: -1.25rem;
                    }

                    &.button-next {
                      right: -1.25rem;
                    }
                  }
                }
              }

              &.skills {
                .skills-items {
                  display: flex;
                  margin-bottom: 1.5rem;
                  .skill-item {
                    border: 1px solid #f4f4f4;
                    border-radius: 6px;
                    padding: 0.9rem;
                    width: calc(100% / 3 - 0.8rem);

                    &:not(:last-child) {
                      margin-right: 1.25rem;
                    }

                    .skill-top {
                      font-weight: $weight-bold;
                      font-size: 0.875rem;
                      display: flex;
                      justify-content: space-between;

                      .skill-count {
                        color: $color-primary;
                      }
                    }

                    .skill-persons {
                      margin-top: 0.687rem;
                      display: flex;
                      position: relative;
                      .skill-person {
                        border-radius: 50%;
                        overflow: hidden;
                        width: 1.5rem;
                        height: 1.5rem;

                        &:nth-child(2) {
                          transform: translateX(calc(-100% + 1.8rem / 2));
                        }

                        &:nth-child(3) {
                          transform: translateX(calc(-100% + 0.85rem / 2));
                        }

                        &:nth-child(4) {
                          transform: translateX(calc(-100% + -0.25rem / 2));
                        }

                        &:nth-child(5) {
                          transform: translateX(calc(-100% + -1.25rem / 2));
                        }

                        &:nth-child(6) {
                          transform: translateX(calc(-100% + -2.25rem / 2));
                        }

                        img {
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        }

                        &.last {
                          line-height: 1;
                          background: $color-primary-linear;
                          border-radius: 50%;
                          width: 1.5rem;
                          height: 1.5rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          font-size: 0.625rem;
                          font-weight: $weight-medium;
                          color: $color-white;
                        }
                      }
                    }
                  }
                }
              }

              &.experience {
                .experience-item {
                  display: flex;
                  padding-bottom: 1.56rem;
                  padding-top: 1.56rem;

                  &:not(:last-child) {
                    border-bottom: 1px solid #f4f4f4;
                    padding-top: 0;
                  }

                  .photo {
                    margin-right: 1rem;
                    padding-top: 0.5rem;
                    img {
                      width: 3.375rem;
                      height: 3.375rem;
                      overflow: hidden;
                      display: block;
                      border-radius: 50%;
                    }
                  }

                  .info {
                    .title {
                      font-size: 0.875rem;
                      font-weight: $weight-bold;
                      margin-bottom: 0.85rem;
                    }

                    .location {
                      margin-bottom: 0.375rem;
                      font-size: 0.75rem;
                      font-weight: $weight-medium;
                      .location-info {
                        font-weight: $weight-regular;
                        margin-left: 0.5rem;
                      }
                    }

                    .date {
                      margin-bottom: 0.7rem;
                      font-size: 0.75rem;
                      .date-count {
                        font-weight: $weight-medium;
                        margin-left: 0.5rem;
                        color: $color-primary;
                      }
                    }

                    .desc {
                      font-size: 0.75rem;
                    }
                  }
                }
              }

              &.education {
                .education-item {
                  display: flex;
                  padding-bottom: 1.56rem;

                  &:not(:last-child) {
                    border-bottom: 1px solid #f4f4f4;
                    padding-top: 0;
                  }

                  .photo {
                    margin-right: 1rem;
                    padding-top: 0.5rem;
                    img {
                      width: 3.375rem;
                      height: 3.375rem;
                      overflow: hidden;
                      display: block;
                      border-radius: 50%;
                    }
                  }

                  .info {
                    .title {
                      font-size: 0.875rem;
                      font-weight: $weight-bold;
                      margin-bottom: 0.85rem;
                    }

                    .sub-title {
                      font-size: 0.75rem;
                      margin-bottom: 0.375rem;
                    }

                    .date {
                      margin-bottom: 0.7rem;
                      font-size: 0.75rem;
                      .date-count {
                        font-weight: $weight-medium;
                        margin-left: 0.5rem;
                        color: $color-primary;
                      }
                    }

                    .desc {
                      font-size: 0.75rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .aside {
      max-width: 18.125rem;

      .aside-item {
        background-color: $color-white;
        border-radius: $radius-default;
        padding: 1.5rem 1.875rem;

        &:not(:first-child) {
          margin-top: 1.25rem;
        }

        .top {
          display: flex;
          justify-content: space-between;
          font-size: 0.75rem;
          font-weight: $weight-bold;
          margin-bottom: 1.25rem;

          .link {
            color: $color-primary;

            &:hover {
              border-bottom: 1px solid $color-primary;
            }
          }
        }

        .body {
          border-top: 1px solid #f4f4f4;
          padding-top: 0.9rem;

          .dashboard-view {
            &:not(:first-child) {
              margin-top: 1.4rem;
            }
            .title {
              color: $color-primary;
              font-weight: $weight-bold;
              font-size: 3.25rem;
              line-height: 1;
            }

            .subtitle {
              font-size: 0.875rem;
            }
          }

          .visitor-body {
            display: flex;
            align-items: center;

            &:not(:first-child) {
              margin-top: 0.95rem;
            }
            .photo {
              margin-right: 0.625rem;
              img {
                display: block;
                width: 3.25rem;
                height: 3.25rem;
                border-radius: 50%;
                overflow: hidden;
              }
            }

            .info {
              .title {
                font-weight: $weight-bold;
                font-size: 0.875rem;
              }
              .sub-title {
                font-size: 0.725rem;
              }
            }
          }

          .course-body {
            display: flex;
            margin-bottom: 1.187rem;

            .photo {
              margin-right: 1rem;
              img {
                border-radius: $radius-default;
                width: 80px;
                height: 52px;
                overflow: hidden;
                object-fit: cover;
              }
            }

            .info {
              .title {
                font-size: 0.875rem;
                font-weight: $weight-bold;
                line-height: 1.1;
              }
              .desc {
                font-size: 0.7rem;
                margin-top: 0.4rem;
              }
            }
          }
        }
      }
    }
  }
}
