// Colors
$color-primary: #0275b1;
$color-primary-linear: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
$color-secondary: #181818;
$color-gray: #747474;
$color-background: #f7f9fb;
$color-white: #fff;

// Font Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 600;
$weight-black: 700;

// Transition
$transition-default: 0.3s all;

// Radius
$radius-default: 4px;
